# 2026 Pro-AI Recon Framework

An automated reconnaissance wrapper script for bug hunters built using Bash. It combines the power of Subfinder, AlterX, Httpx, Gau, and Nuclei into a single pipeline.

# Core Language Requirement
golang-go (Go Version 1.20+)

# Recon Tools Required (Must be in system PATH)
subfinder   -> https://github.com/projectdiscovery/subfinder
alterx      -> https://github.com/projectdiscovery/alterx
httpx       -> https://github.com/projectdiscovery/httpx
gau         -> https://github.com/lc/gau
nuclei      -> https://github.com/projectdiscovery/nuclei

or 

```bash
# Install tool dependencies via Go
go install -v [github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest](https://github.com/projectdiscovery/subfinder/v2/cmd/subfinder@latest)
go install -v [github.com/projectdiscovery/alterx/cmd/alterx@latest](https://github.com/projectdiscovery/alterx/cmd/alterx@latest)
go install -v [github.com/projectdiscovery/httpx/cmd/httpx@latest](https://github.com/projectdiscovery/httpx/cmd/httpx@latest)
go install -v [github.com/lc/gau/v2/cmd/gau@latest](https://github.com/lc/gau/v2/cmd/gau@latest)
go install -v [github.com/projectdiscovery/nuclei/v3/cmd/nuclei@latest](https://github.com/projectdiscovery/nuclei/v3/cmd/nuclei@latest)

## Installation & Setup 

1. Clone the repository:
```bash
git clone https://github.com/rootghost404/prorecon.git

2. go to directory
```bash
cd prorecon

3. permission this file
```bash
chmod +x prorecon.sh

4. run commnad
```bash
./prorecon.sh target.com


